body{
    text-align: center
}

.form{
    padding: 20px;
    margin: auto;
    width: 30%;
    border: 1px solid grey;
}

input, select{
    margin-bottom: 20px;
    font: 16px;
    padding: 5px;
}

button{
    font: 20px;
    font-size: large;
    padding: 5px 20px;
}

h4{
    color: red;
}

.margin-car{
    margin: 10px;
}

.border{
    border: 1px solid black;
}

.padding-car{
    padding: 0px 20px;
}

.car-avail{
    padding: 0px 10px;
    background: green;
}

.car-not-avail{
    padding: 0px 10px;
    background: brown;
}

.bk-color-pink{
    background: pink;
}

.bk-color-white{
    background: whitesmoke;
}

.bk-color-black{
    background: black;
}